main {
    margin: 0;
    padding: 5px;
    section {
        article {
            h1 {
                font-size: 1rem;
                color: map-get($map: $paleta_colores, $key: dorado);
            }
            p {
                line-height: 10px;
                font-size: $tam-fuente;
            }
        }
    }


    aside {
        background-color: $c-secundario;
        p {
            font-size: 3rem;
        }
    }
}


#indexMain {
    background-image: url(https://josecarlosalmansa.com/img/caspar-camille-rubin-fPkvU7RDmCo-unsplash.jpg);
    width: 100vw;
    grid-area: indexMain;
    min-height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 0.7fr 0.3fr ;
    grid-template-areas: 
    "indexMainUno indexMainUno indexMainUno"
    "indexMainUno indexMainUno indexMainUno";

    #indexMainUno {
        grid-area: indexMainUno;
        justify-self: center;
        align-content: center;
        text-align: center;
        background-position: left;
        padding: 10rem;

        #indexImg {
            height: 20rem;
        }
        
    }

    #indexMainDos {
        grid-area: indexMainDos;
    }
}

#skillsMain {
    grid-area: skillsMain;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 1.2fr;
    grid-template-rows: 3fr 0.2fr;
    grid-template-areas: 
    "skillsMainUno skillsMainDos skillsMainTres"
    "skillsMainUno skillsMainDos skillsMainTres";

    #skillsMainUno {
        grid-area: skillsMainUno;
        padding: 1.5rem;

        #programador {
            padding: 50px;
            margin: 10px;
            width: 18rem;
            background-color: #636363;
            border-radius: 1rem;
            height: fit-content;
        
        }
    }

    #skillsMainDos {
        grid-area: skillsMainDos;
        padding: 10px;

        #unic   {
            background-color: black;
            cursor: pointer;
            border: none;
            padding: 8px 12px;
            color: antiquewhite;
            font-size: 22px;
            font-weight: bold;
            position: relative;
            border-radius: 1rem;
            margin-top: 8px;
        }
        
        #unic ::before {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg,
            red,blue, deeppink, blue, red,blue, deeppink, blue);
        background-size: 800%;
        border-radius: 1rem;
        filter: blur(8px);
        animation: glowing 20s linear infinite;
        
        }

        #skillsInfo {
            background-color: #636363;
            border-radius: 1rem;
            height: fit-content;
            width: fit-content;
            padding: 1rem;

        }

        #skillsCertificacion {
            background-color: #636363;
            border-radius: 1rem;
            height: fit-content;
            width: fit-content;
            padding: 0.6rem;
        }

        #skillsIcono {

            display: flex;
            gap: 1.3rem;

            #coder {
                color: $paleta_colores-coder;
            }
        }
        
       
    }
    
    #skillsMainTres {
        grid-area: skillsMainTres;
        padding: 1rem;
        background-color: #636363;
            border-radius: 1rem;
            height: fit-content;
            width: fit-content;
            padding-left: 1rem;
            margin-left: 4.5rem;
            margin-top: 5rem;
            text-align: center;

        .imgSkills {
            width: 5rem;
            height: 5rem;
         }
    }
}

#serviciosMain {
    grid-area: serviciosMain;
    justify-content: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: 
    "serviciosMainUno serviciosMainDos"
    "serviciosMainTres serviciosMainCuatro "
    "serviciosMainCinco serviciosMainCinco";

    .serviciosIconos {
        display: flex;
        background-color: rgba(128, 128, 128, 0.925);
        height: fit-content;
        border-radius: 1rem;
        width: fit-content;
        padding: 0.5rem;
        padding-right: 1rem;
    }

    .contact-iconos {
        width: 4.9rem;
        height: 5rem;
        
    }

    .serviciosTexto {
        background-color: $c-secundario;
        border-radius: 1rem;
        padding: 0.4rem;
    }

    #serviciosMainUno {
        grid-area: serviciosMainUno;
        padding: 2rem;
        margin: 3rem;
    }
    
    #serviciosMainDos {
        grid-area: serviciosMainDos;
        padding: 2rem;
        margin: 3rem;
        padding-top: 10rem;
        
    }

    #serviciosMainTres {
        grid-area: serviciosMainTres;
        padding: 2rem;
        margin: 3rem;

    }

    #serviciosMainCuatro {
        grid-area: serviciosMainCuatro;
        padding: 2rem;
        margin: 3rem;
    }

    #serviciosMainCinco {
        grid-area: serviciosMainCinco;
        padding: 2rem;
        margin: 3rem;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 1rem;
       text-align: center;
       margin-top: 3rem;
       margin-bottom: 2rem;
       justify-self: center;
        
        
       

       .imgClientes {
        height: 8rem;
        width: 8rem;
        border-radius: 1rem;
        padding: 0.5rem;
       }
    }


        
}

#porfolioMain {
    grid-area: porfolioMain;
    display: grid;
    margin-top: 4.5rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 0.2fr;
    grid-template-areas: 
    "porfolioMainUno porfolioMainUno porfolioMainUno" 
    "porfolioMainDos porfolioMainDos porfolioMainDos";

    #porfolioMainUno {
        grid-area: porfolioMainUno;
        background-color: #636363;
            border-radius: 1rem;
            padding-bottom: 3rem;
            padding-top: 4rem;
            margin: 1rem;

        .contenedor_proyecto {
            padding-top: 3rem;
            padding-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;

            .construccion {
                width: 18rem;
            }
          }
          
          #unic   {
            background-color: black;
            cursor: pointer;
            border: none;
            padding: 1rem 2rem;
            color: antiquewhite;
            font-size: 2rem;
            font-weight: bold;
            position: relative;
            border-radius: 1rem;
        }
        
        #unic ::before {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg,
            red,blue, deeppink, blue, red,blue, deeppink, blue);
        background-size: 800%;
        border-radius: 1rem;
        filter: blur(8px);
        animation: glowing 20s linear infinite;
        
        }
      }

      #porfolioMainDos {
        grid-area: porfolioMainDos;
      }
  }

  #ContactMain {
    grid-area: contactMain;
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 
    "contactMainUno contactMainDos contactMainTres" 
    "contactMainUno contactMainDos contactMainTres";

    #contactMainUno {
        grid-area: contactMainUno;
        margin: 1rem;
        justify-self: center;
        align-self: center;
        padding: 1rem;
        background-color: #636363;
        height: fit-content;
        border-radius: 1rem;
        width: fit-content;

    #contactBorde{
        border: 0.5rem solid black;
    width: fit-content;
    padding: 0.8rem;
    }

    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

body {
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
  font-weight:300;
  font-size: 12px;
  line-height:30px;
  color:#777;
  background:rgb(0, 0, 0);
}

.container {
  max-width:400px;
  width:100%;
  margin:0 auto;
  position:relative;
  border-radius: 1rem;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background:rgba(128, 128, 128, 0.925);
  padding:25px;
  margin:50px 0;
}

#contact h3 {
  color: rgb(0, 0, 0);
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:rgb(0, 0, 0);
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:#09C;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
      }



      #contactMainDos {
        grid-area: contactMainDos;
        justify-self: center;
        align-self: center;
        padding: 1rem;
        background-color: #636363;
        height: fit-content;
        border-radius: 1rem;
        width: fit-content;
        margin: 1rem;
        margin-left: 2rem;

        .contactInfo {
            margin: 0;
        }

        .contactIconos{
            margin: 1rem;
            height: 4rem;
        }
      }

      #contactMainTres {
        grid-area: contactMainTres;
        justify-self: center;
        padding: 1.3rem;
        align-self: center;
        display: flex;
        background-color: #636363;
        height: fit-content;
        border-radius: 1rem;
        width: fit-content;
        margin: 1rem;
        text-align: center;

        #ubicacion {
            width: 28rem;
          height: 28rem;
        }
      } 
  }

  #errorMain {
    width: 100vw;
    grid-area: errorMain;
    min-height: auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2.5fr 0.5fr;
    grid-template-rows:2fr 0.3fr;
    grid-template-areas: 
    "errorMainUno errorMainDos"
    "errorMainUno errorMainDos";

    #errorMainUno {
        grid-area: errorMainUno;
        justify-self: center;
        align-content: center;
        text-align: center;
        background-position: left;
        font-size: 1rem;
        padding: 1.3rem;
        background-color: #636363;
        height: fit-content;
        border-radius: 1rem;
        width: fit-content;
        margin: 2rem;

        #errorImg {
            height: 20rem;
        }

        #unic   {
            background-color: black;
            cursor: pointer;
            border: none;
            padding: 1rem 2rem;
            color: antiquewhite;
            font-size: 2rem;
            font-weight: bold;
            position: relative;
            border-radius: 1rem;
        }
        
        #unic ::before {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg,
            red,blue, deeppink, blue, red,blue, deeppink, blue);
        background-size: 800%;
        border-radius: 1rem;
        filter: blur(8px);
        animation: glowing 20s linear infinite;
        
        }
        
    }

    #errorMainDos {
        grid-area: errorMainDos;
        justify-self: end;
        font-size: 1rem;
        padding: 1.3rem;
        background-color: #636363;
        height: fit-content;
        border-radius: 1rem;
        width: fit-content;
        margin: 2rem;
        text-align: center;
        padding-top: 2rem;
        }

        #errorImg2 {
            height: 11rem;
    }
}
  