// Variable Varios
$ancho-base:100px;
$tam-fuente: 1.5rem;

// Variable Paleta Colores
$c-principal:rgba(128, 128, 128, 0.925);
$c-secundario:rgba(68, 66, 66, 0.925);
$paleta_colores-coder:#e5f876;

// Variable Fuentes
$roboto: "Roboto", sans-serif;

